.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

.env
.env.local
.env.*.local
*.pem

*.log
npm-debug.log*

node_modules/
__pycache__/
venv/
target/
build/
dist/
coverage/
libs
specs/